@tailwind base;
@tailwind components;
@tailwind utilities;



.eventBg {
    background-image: url("../../public/BG.png");
}

.shadow-chatbox {
    box-shadow: 0px 5px 5px 4px rgb(200 213 235 / 50%);
}

.shadow-chatbox-before::before {
    content: ''; /* Required for pseudo-elements */
    box-shadow: 6px 6px 6px 0px rgba(200 213 235 / 50%);
}

.card-shadow {
    box-shadow: 1px 3px 1px 1px hsl(0, 0%, 87%);
}